<h2>Available glasses</h2>

<button (click)="changeShowing()">
  <!--use ng-container because when we use span here it will create separate html tag inside button but
  when we use ng-container it is not creating separate html tags-->
  <ng-container *ngIf="!isShowing">Show Glasses</ng-container>
  <ng-container *ngIf="isShowing">Hide Glasses</ng-container>
</button>

<ul *ngIf="isShowing">
  <ng-container *ngFor="let spectacle of spectacles; let i=index">
    <li>
      {{i + 1}}
      <img [src]="spectacle.image" [alt]="spectacle.model" width="100">
      {{spectacle.model}} by {{spectacle.brand}}
    </li>
  </ng-container>
</ul>
