<h2>Available glasses</h2>

<button (click)="changeShowing()">
  <!--use ng-container because when we use span here it will create separate html tag inside button but
  when we use ng-container it is not creating separate html tags-->
  <ng-container *ngIf="!isShowing">Show Glasses</ng-container>
  <ng-container *ngIf="isShowing">Hide Glasses</ng-container>
</button>

<ul *ngIf="isShowing">
  <ng-container *ngFor="let spectacle of spectacles; let i=index">
    <li class="spectacle">
      <p class="sno">{{i + 1}}</p>
      <img [src]="spectacle.image" [alt]="spectacle.model" width="100">
      <p class="title">{{spectacle.model | titlecase }} by {{spectacle.brand | titlecase }}</p>
      <p class="currency">{{spectacle.price | currency:'LKR' }}</p>
    </li>
  </ng-container>
</ul>
